{% extends "GT_Movies_Store/base.html" %}
{% load static %}

{% block content %}
    <div class="movie-container">
          <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back to Home</a>
        <div class = "movie-info">
            <h1>{{ movie.title }}</h1>
            <img src="{{ movie.image }}"
             onerror="this.onerror=null; this.src='{% static 'GT_Movies_Store/movie_images/default.jpg' %}'"
             alt="{{ movie.title }}" width="200">
            <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
            <p>{{ movie.description }}</p>
            {% if success_message %}
                <div class="alert alert-success">
                    {{ success_message }}
                </div>
            {% endif %}
            <a href="{% url 'add_to_cart' movie.id %}" class="btn btn-warning add-to-cart">
                <img src="{% static 'GT_Movies_Store/assets/cart-icon.png' %}" class="cart-icon" style="width: 200px;" alt="Cart">
                <span>Add to Cart</span>
            </a>
        </div>

    </div>

    <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
    <p>{{ movie.description }}</p>

    <h2>Reviews</h2>
<ul>
    {% for review in movie.reviews.all %}
        <li>
            <strong>{{ review.user.username }}</strong>: {{ review.comment }}
            <br><small>{{ review.date }}</small>
            {% if user.is_authenticated and user == review.user %}
                <a href="{% url 'movies.edit_review' movie.id review.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_review' movie.id review.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </li>
    {% empty %}
        <li>No reviews yet. Be the first to write one!</li>
    {% endfor %}
</ul>

    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <textarea name="comment" required class="form-control" placeholder="Write your review here"></textarea>
        <button type="submit" class="btn btn-success mt-2">Submit</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Login</a> to write a review.</p>
    {% endif %}
{% endblock %}
