{% extends "GT_Movies_Store/base.html" %}

{% block title %}About page{% endblock %}

{% block content %}
    <div class="norah">
        <h1>About</h1>
        <p>Welcome to the GT Movie's Store! </p>

        <p>At GT Movie's Store, we're passionate about bringing the best cinematic experiences right to your fingertips. Whether you're a fan of classic Hollywood masterpieces, the latest blockbusters, or hidden indie gems, we've got something for everyone. Our carefully curated collection ensures that movie lovers of all kinds can find their favorite films with ease.</p>

        <p>Browse our catalog, add your favorite movies to your cart, and discover new recommendations tailored just for you. Plus, with user reviews and ratings, you can see what other users think before making a purchase.</p>

        <p>Ready to start your journey? Explore our collection today and dive into the world of cinema like never before!</p>

    </div>
{% endblock %}
