{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>{{ movie.title }}</h2>
        <hr />
        <p><b>Description:</b> {{ movie.description }}</p>

        <h2>Reviews</h2>
        <hr />
        <ul class="list-group">
          {% for review in reviews %}
          <li class="list-group-item pb-3 pt-3">
            <h5 class="card-title">
              Review by {% if review.user %}{{ review.user.username }}{% else %}Anonymous{% endif %}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ review.date }}
            </h6>
            <p class="card-text">{{ review.comment }}</p>

            {% if user.is_authenticated and user == review.user %}
            <a class="btn btn-primary"
              href="{% url 'GT_Movies_Store:movies.edit_review' id=movie.id review_id=review.id %}">
              Edit
            </a>
            <a class="btn btn-danger"
              href="{% url 'GT_Movies_Store:movies.delete_review' id=movie.id review_id=review.id %}">
              Delete
            </a>
            {% endif %}
          </li>
          {% empty %}
          <li class="list-group-item">No reviews yet. Be the first to write one!</li>
          {% endfor %}
        </ul>

        {% if user.is_authenticated %}
        <div class="container mt-4">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card shadow p-3 mb-4 rounded">
                <div class="card-body">
                  <b class="text-start">Create a review</b><br /><br />
                  <form method="POST" action="{% url 'GT_Movies_Store:movies.create_review' id=movie.id %}">
                    {% csrf_token %}
                    <p>
                      <label for="comment">Comment:</label>
                      <textarea name="comment" required class="form-control" id="comment"></textarea>
                    </p>

                    <div class="text-center">
                      <button type="submit" class="btn bg-dark text-white">
                        Add Review
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <p><a href="{% url 'login' %}">Login</a> to write a review.</p>
        {% endif %}
      </div>

      <div class="col-md-6 mx-auto mb-3 text-center">
        {% if movie.image %}
          <img src="{{ movie.image }}" class="rounded img-card-400" />
        {% else %}
          <img src="{% static 'GT_Movies_Store/movie_images/default.jpg' %}" class="rounded img-card-400" />
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}